@import '../libs/bootstrap/functions';
@import '../libs/bootstrap/variables';
@import '../libs/bootstrap/mixins';


/* ORANGE */

.block-orange {
  color: white;
  padding: 50px 0px;

  .lock {
    font-size: 14px;
    padding-left: 40px;
    line-height: 30px;
    background: url('../images/icons/lock.svg') left no-repeat;
    overflow: visible;
  }

  h2 {
    font-size: 48px;
    font-weight: 400;
    margin: 20px 0px;
    letter-spacing: 0px;
    line-height: 36px;
    color: #ffffff;
    font-family: "Roboto";
  }

  span {
    font-size: 16px;
  }

  h3 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
  }

  @include media-breakpoint-up(lg) {
    .mbp {
      min-width: 200px;
    }

    .mbp img {
      position: absolute;
      margin-top: -30%;
      /* top: -70%; */
      max-width: none;
      width: 140%;
      margin-left: -25%;
    }
  }
}

/* RAISED THUMB */

.with-raised-thumb {
  .raised-thumb {
    margin-top: -35px;
    margin-bottom: 30px;
    width: 511px;
    height: 352px;
    border-radius: 10px;
    //box-shadow: 0px 10px 30px rgba(92, 95, 101, 0.3);
    box-shadow: 0px 10px 30px 0px rgba(92, 95, 101, 0.3),0px 30px 50px 0px rgba(92, 95, 101, 0.2);

  }

  .icons-cards {
    .card {
      border: none;
      background: none;
      box-shadow: none;
    }

    .card-img-top {
      height: 60px;
    }

    .card-body {
      font-size: 15px;
      text-align: center;
    }
  }
}

/* GIFTS */
.education-gifts {
  padding-top: 30px;
  .card{
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 29px rgba(0,0,0,0.1);
  }
  &>span {
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #999999;
  }
  &>h1{
    margin-bottom: 30px;
  }
  .card-title{
    font-size: 72px;
    letter-spacing: -5px;
    text-align: right;
    line-height: 100px;
    padding-right: 15px;
    font-weight: 400;
    color: #fff;
  }
  .card, .card-body{
    text-align: left;
  }
  .card img{
    width: 37px;
    display: block;
    margin-bottom: 20px;
  }
  .card-footer {
    border: none;
    background: none;
  }

  .card{
    &.active{
      background: url(../images/gift-back.png);
      background-size: cover;
      color: #fff;
      label{
        color: #fff;
      }
      img{
        filter: invert(1);
      }
    }
  }
}

/* MASTER */
.master-description{
  padding: 15px 0px;
  .description-wrapper{
    border-radius: 6px;
    background: #fff;
    padding: 20px;
    font-size: 15px;
    font-weight: 300;

    .scrollbar-outer{
      max-height: 350px;
    }

    .scrollbar-outer > .scroll-element.scroll-y {
      right: -7px;
      .scroll-bar{
        background-color: $orange;
      }
      .scroll-element_outer{
        width: 3px;
      }
    }
  }
  .master-photo{
    h1{
      position:relative;
      height: 0px;
      margin-left: 20px;
      top:-90%;
      color: white;
    }
    img{
      border-radius: 6px;
    }
  }
}