{% extends 'layouts/index.html' %}
{% block slick %}
{% include "shared/blocks/header-slick.html" %}
{% endblock %}
{% block content %}
<div class="container-fluid main-container">
  <div class="row under-header right-header">
    <div class="col-md-8">
      <div class="prelude">
        Музыкотерапия в массаже представляет собой метод, позволяющий добиваться поразительных результатов. Этот метод
        является ценным инструментом, который способствует не только развитию личности, но и улучшает самочувствие и
        помогает снять нервное напряжение и физическую усталость. Музыка гармонизирует не только духовные, но и
        физиологические процессы в организме человека.
      </div>
      <h3>Музыкотерапия в массаже</h3>
      <div>
        <img class="img-fluid" src="images/content.png" />
        <p>С помощью музыки можно стимулировать разные участки головного мозга, что благотворно влияет на организм и
          способствует восстановлению его физиологических ритмов. Еще в древности египтяне считали, что музыка
          увеличивает плодовитость женщин, а в настоящее время научными исследованиями доказано, что младенцы, которые
          слушали классическую музыку, находясь в утробе матери, рождаются намного более спокойными и испытывают меньше
          адаптационных трудностей.</p>

        <p>Учитывая это, рекомендуем во время сеансов массажа слушать те звуки, которые особенно приятны и оказывают
          расслабляющее действие на мать и младенца. Массируя малыша, вы сразу поймете, что музыка действует на него
          успокаивающе. Он с удовольствием позволяет ласкать себя и получает наслаждение от ваших нежных прикосновений.</p>

        <p>Почувствовав однажды благотворное влияние музыки, вы можете использовать ее с другими целями, например, в те
          дни, когда испытываете усталость и разбитость. В этом случае вы вновь почувствуете прилив сил и энергии, если
          послушаете бодрую веселую музыку.</p>
      </div>

      <div class="avatar row">
        <div class="col-sm-3 col-sm-3 col-md-2">
          <img src="images/avatar.png" />
        </div>

        <div class="col-sm-9 col-sm-9 col-md-10 avatar-container">
          <div class="title">Автор - Василий Петров</div>
          <div class="description">заслуженный тренер россии</div>
        </div>
      </div>

      {% include "shared/blocks/social.html" %}

    </div>
    <div class="col-md-4">

      <div class="orange card">
        <img class="card-img-top" src="images/1.jpg" alt="Card image cap">
        <div class="card-body">
          <div class="flex-row">
            <h5 class="card-title">Вебинар на тему:</h5>
            <data>17 АПРЕЛЯ 2017</data>
          </div>
          <div class="flex-row">
            <p class="card-text">Продажа синергии</p>
            <div class="time">12:00</div>
          </div>
        </div>
      </div>

      <div class="tag-cloud">
        #обучение массажу, #курсы массажистов,
        #классический массаж, #спортивный массаж,
        #оздоровительный массаж,
        #гигиенический массаж,
        #антицеллюлитный массаж,
        #лимфодренажный массаж,
        #испанский массаж,
        #тайский массаж, #точечный массаж, #пилинг
      </div>

      <h2>Популярные статьи</h2>


      <div class="card">
        <img class="card-img-top" src="images/1.jpg" alt="Card image cap">
        <div class="card-body">
          <data>17 АПРЕЛЯ 2017</data>
          <h5 class="card-title">Разновидности продольного и поперечного разминания</h5>
          <div class="card-tag">
            #разминание
            <div class="card-views">
              <i class="fas fa-eye"></i>
              640
            </div>
          </div>
          <p class="card-text">Всего в Тайланде 2 самых лучших массажных школы: южная и северная. Южная расположена в
            центре Бангкока рядом с храмом Ват По. </p>
        </div>
      </div>


      <div class="card">
        <img class="card-img-top" src="images/1.jpg" alt="Card image cap">
        <div class="card-body">
          <data>17 АПРЕЛЯ 2017</data>
          <h5 class="card-title">Разновидности продольного и поперечного разминания</h5>
          <div class="card-tag">
            #разминание
            <div class="card-views">
              <i class="fas fa-eye"></i>
              640
            </div>
          </div>
          <p class="card-text">Всего в Тайланде 2 самых лучших массажных школы: южная и северная. Южная расположена в
            центре Бангкока рядом с храмом Ват По. </p>
        </div>
      </div>


    </div>



  </div>
</div>
{% endblock %}