{% extends 'layouts/index.html' %}
{% block breadcrumbs %}{% endblock %}
{% block slick %}
{% include "shared/blocks/header-slick1.html" %}
{% endblock %}
{% block content %}

<div class="container-fluid main-container">
  <h1 class="content-header">Ближайшие события<i class="fal fa-arrow-circle-right"></i></h1>

  <div class="row">
    <div class="col-12">
      {% include "shared/blocks/events-slick.html" %}
    </div>
  </div>
</div>

<!-- Оранжевый блок -->
<div class="block-orange">
  <div class="container-fluid main-container">
    <div class="row">
      <div class="col-lg-7">
        <div class="lock">Закрытое видео</div>
        <h2>БРИЛЛИАНТОВЫЕ РУКИ</h2>
        <span>
          Получи 10 рабочих действий,<br />
          которые принесут тебе результат уже сегодня
        </span>
        <h3>
          Получить бесплатно доступ к закрытому видео
        </h3>




        <form class="education-form on-orange">
          <div class="row">

            <div class="col-sm-6">
              <div class="form-group">
                <input class="form-control" placeholder="your@email.com" name="name" type="email">
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <button disabled="disabled" type="submit" class="submit orange btn btn-primary">
                  Получить видео
                </button>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="form-check abc-checkbox">
              <input class="styled form-check-input" type="checkbox" id="agree-education">
              <label class="form-check-label" for="agree-education">
                Согласен с политикой конфиденциальности
              </label>
            </div>
          </div>

        </form>

      </div>
      <div class="col-lg-5 mbp align-self-center">
        <img class="img-fluid" src="images/icons/mbp.png" />
      </div>
    </div>
  </div>
</div>

<!-- /Оранжевый блок -->


<!-- О школе -->

<div class="block-gray with-top-hr with-raised-thumb">
  <div class="container-fluid main-container">
    <div class="row">
      <div class="col-12 block-card rounded padded-90">
        <div class="row">
          <div class="col-lg-6">
            <div class="raised-thumb">
              <img src="images/samples/video-preview.png" />
            </div>
            <div class="social-share small">
              <a href="#">
                <i class="fab fa-vk"></i>
              </a>
              <a href="#">
                <i class="fab fa-facebook"></i>
              </a>
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
              <span>Интервью Анастасии Богдановой</span>
            </div>
          </div>
          <div class="col-lg-6 align-self-center">
            <h1>О школе</h1>
            <h4>Наша школа – это место, где становятся
              не просто хорошими массажистами,
              а настоящими мастерами</h4>
            <p>Мастерство состоит не только в виртуозном владении техникой. Это намного более широкое понимание и себя,
              и профессии, и себя в профессии. Диагностика, анализ, выбор решения, действие – вот алгоритм которым
              пользуется мастер. </p>
            <a href="#">Познакомиться ближе</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Иконки преимуществ -->
  <div class="container-fluid main-container">
    <div class="card-group icons-cards">

      <div class="card">
        <img class="card-img-top" src="images/icons/prof.svg" alt="Card image cap">
        <div class="card-body">
          Профессиональный подход к обучению
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="images/icons/complex.svg" alt="Card image cap">
        <div class="card-body">
          Комплексная подача материала: теория + практика.
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="images/icons/ability.svg" alt="Card image cap">
        <div class="card-body">
          Возможность стажировки
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="images/icons/support.svg" alt="Card image cap">
        <div class="card-body">
          Менторское сопровождение выпускников

        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="images/icons/cert.svg" alt="Card image cap">
        <div class="card-body">
          Сертификат
        </div>
      </div>

    </div>
  </div>
  <!-- /Иконки преимуществ -->

</div>

<!-- /О школе -->

<!-- Подарки -->
<div class="container-fluid main-container education-gifts">
  <span>Только до 20 августа</span>
  <h1>Дарим подарки посетителям сайта!</h1>
  <h4>Шаг 1. Выберите подарок</h4>


  <div class="card-deck gifts-cards">

    <div class="card active">
      <div class="card-title">15%</div>

      <div class="card-body">
        <img src="images/icons/gift.svg">
        Методика проведения занятий для беременных
      </div>
      <div class="card-footer">
        <form>
          <div class="form-group">
            <div class="form-check abc-checkbox">
              <input class="styled form-check-input" type="checkbox" id="select-gift1">
              <label class="form-check-label" for="select-gift1">
                Выбрать
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="card">
      <div class="card-title">15%</div>

      <div class="card-body">
        <img src="images/icons/gift.svg">
        Методика проведения занятий для беременных
      </div>
      <div class="card-footer">
        <form>
          <div class="form-group">
            <div class="form-check abc-checkbox">
              <input class="styled form-check-input" type="checkbox" id="select-gift2">
              <label class="form-check-label" for="select-gift2">
                Выбрать
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="card">
      <div class="card-title">15%</div>
      <div class="card-body">
        <img src="images/icons/gift.svg">
        Методика проведения занятий для беременных
      </div>
      <div class="card-footer">
        <form>
          <div class="form-group">
            <div class="form-check abc-checkbox">
              <input class="styled form-check-input" type="checkbox" id="select-gift3">
              <label class="form-check-label" for="select-gift3">
                Выбрать
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <p>&nbsp;</p>
  <h4>Шаг 2. Введите данные получателя</h4>
  <form>
    <div class="row">
      <div class="col-lg-3">
        <div class="form-group">
          <input class="form-control" placeholder="Ваше имя" name="email" type="text">
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <input class="form-control" placeholder="+7 (___) ___ __ __" name="tel" type="tel">
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <input class="form-control" placeholder="your@email.com" name="name" type="email">
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <button type="submit" class="submit orange btn btn-primary">
            Получить подарок ➞
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- /Подарки -->

<!-- Мастер -->
<div class="block-gray master-description">
  <div class="container-fluid main-container">
    <div class="row">
      <div class="col-lg-6">
        <div class="description-wrapper">
          <div class="scrollbar-outer">
            <div>
              Обычное московское утро, поздняя осень. Начинаю семинар.
              Как обычно знакомлюсь с учениками. Обычные люди, кто-то моложе, кто то старше, кто с опытом, кто первый
              раз встречается с профессиональным массажем, в общем все как всегда.

              Стандартно. Среди учеников совсем молоденький парнишка лет 20-ти который скромно сказал, что только
              начинает постигать профессию массажиста.

              Семинар прошел, что называется, на одном дыхании. Знаете, когда
              не замечаешь времени. Все динамично, без занудства. Закончили, расставались – плакали Все обычно говорят,
              что теперь только
              к вам, нам так понравилось и все такое… И парнишка тоже вроде
              бы как собирается продолжать обучение. Через пару недель опять начинаю семинар и вижу его среди учеников.
              Так, наверное, пару месяцев парень регулярно посещал семинары. Прилежный, старательный, вдохновленный
              вновь полученными навыками. Разговорились как-то после занятий. Говорит прям завораживает его работа в
              этих техниках. Спрашиваю где работает и выясняется, что такой талант прозябает где-то в небольшом
              кабинетике и массаж делает практически только домашним своим. Начинаю его пинать, мол иди уже в
              какой-нибудь салон или фитнес. Он все переживал, что знаний у него маловато… Но все-таки убедила его
              попробовать! Пошел сначала в небольшой сетевой фитнес-клуб. Взяли тут же. Потом, примерно через полгода
              нашего знакомства пришел и говорит: «Хочу в конкурсе массажистов участвовать.» Подготовились, выступил и
              выиграл! Занял первое место. Но не зазнался, а продолжил учиться. А дальше, что называется поперло парня.
              Поменял свой местечковый фитнес на самый крупный и известный в Москве. На месяц вперед процедуры
              расписаны. И опять не зазнался! Продолжил учиться. Теперь открыл свою небольшую студию массажа и
              продолжает совершенствоваться в профессии, потому что еще с первого семинара запомнил и понял, что как
              только ты перестал расти в профессии – ты начал деградировать! Тут же, как камень в гору катить, либо ты
              его вверх, либо он по наклонной вниз. Смотрю за его успехам и вот уже 6 лет и радуюсь! Не перевелись еще
              настоящие массажисты на земле русской
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 master-photo">
        <img class="img-fluid" src="images/samples/master.png" />
        <h1>Анлегина Иванеева, 28 лет: мастер-юга</h1>
      </div>
    </div>
  </div>
</div>


<!-- /Мастер -->

<!-- Новое в блоге  -->

{% include 'shared/blocks/new-in-blog.html' %}
{% include 'shared/blocks/subscribe.html' %}


<script type="text/javascript">
  jQuery(function () {
    $('.navbar > .container').addClass('bordered');
  });
</script>
{% endblock %}