{% extends 'layouts/index.html' %}
{% block slick %}
{% include "shared/blocks/header-slick2.html" %}
{% endblock %}
{% block content %}

<br />
{% include "shared/blocks/orange.html" %}

<!-- О школе -->
<div class="with-top-hr with-raised-thumb">
  <div class="container-fluid main-container">
    <div class="row">
      <div class="col-12 block-card rounded padded-90">
        <div class="row">
          <div class="col-lg-6">
            <div class="raised-thumb">
              <img src="images/samples/video-preview.png" />
            </div>
            <div class="social-share small">
              <a href="#">
                <i class="fab fa-vk"></i>
              </a>
              <a href="#">
                <i class="fab fa-facebook"></i>
              </a>
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
              <span>Интервью Анастасии Богдановой</span>
            </div>
          </div>
          <div class="col-lg-6 align-self-center">
            <h1>О школе</h1>
            <h4>Наша школа – это место, где становятся
              не просто хорошими массажистами,
              а настоящими мастерами</h4>
            <p>Мастерство состоит не только в виртуозном владении техникой. Это намного более широкое понимание и себя,
              и профессии, и себя в профессии. Диагностика, анализ, выбор решения, действие – вот алгоритм которым
              пользуется мастер. </p>
            <a href="#">Познакомиться ближе</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /О школе -->

<!-- Для кого -->
<div>
  <div class="container-fluid main-container">
    <div class="row">
      <div class="card-group list-icon-cards small col-4">

        <div class="card">
          <div class="card-title">
            <span>
              <i class="fal fa-question-circle"></i>
              Для кого этот трейнинг
            </span>
          </div>
          <div class="card-body">
            <ul>
              <li>– Преподаватели</li>
              <li>– Фитнесс тренеры</li>
              <li>– Врачи</li>
              <li>– Спортсмены</li>
            </ul>
          </div>
        </div>

      </div>

      <div class="card-group list-icon-cards small col-8">

        <div class="card">
          <div class="card-title">
            <span>
              <i class="fal fa-check-circle"></i>
              Для кого этот трейнинг
            </span>
          </div>
          <div class="card-body">
            <ul>
              <li>– Преподаватели</li>
              <li>– Фитнесс тренеры</li>
              <li>– Врачи</li>
              <li>– Спортсмены</li>
              <li>– Преподаватели</li>
              <li>– Фитнесс тренеры</li>
              <li>– Врачи</li>
              <li>– Спортсмены</li>
              <li>– Преподаватели</li>
              <li>– Фитнесс тренеры</li>
              <li>– Врачи</li>
              <li>– Спортсмены</li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- /Для кого -->

<!-- Заголовок -->
<div>
  <div class="container-fluid main-container">
    <h1>Содержимое курса</h1>
  </div>
</div>
<!-- /Заголовок -->

<!-- Содержимое курса -->
<div>
  <div class="container-fluid main-container">
    <div class="row">
      <div class="card-group list-icon-cards big col-6">

        <div class="card">
          <div class="card-title">
            <img src="images/icons/massage.svg" />
            <span>
              Для кого этот трейнинг
            </span>
          </div>
          <div class="card-body">
            <ul>
              <li>– Преподаватели</li>
              <li>– Фитнесс тренеры</li>
              <li>– Врачи</li>
              <li>– Спортсмены</li>
            </ul>
          </div>
        </div>

      </div>

      <div class="card-group list-icon-cards big col-6">

        <div class="card">
          <div class="card-title">
            <img src="images/icons/book.svg" />
            <span>
              Для кого этот трейнинг
            </span>
          </div>
          <div class="card-body">
            <ul>
              <li>– Преподаватели</li>
              <li>– Фитнесс тренеры</li>
              <li>– Врачи</li>
              <li>– Спортсмены</li>
              <li>– Преподаватели</li>
              <li>– Фитнесс тренеры</li>
              <li>– Врачи</li>
              <li>– Спортсмены</li>
              <li>– Преподаватели</li>
              <li>– Фитнесс тренеры</li>
              <li>– Врачи</li>
              <li>– Спортсмены</li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- /Содержимое курса -->

<!-- Преподаватель -->
<div>
  <div class="container-fluid main-container">
    <div class="row">
      <div class="col-8">
        <h1>Преподаватель</h1>
        <h3>МИХАИЛ ИВЛЕЕВ</h3>
        <div>
            Михаил Ивлев - Президент Ассоциации Спортивной аэробики России (АСАР). Доцент кафедры гимнастики Российской Государственной Академии физической культуры. Кандидат педагогических наук. Мастер спорта по спортивной гимнастике. Судья международной категории по спортивной аэробике. Сертифицированный преподаватель по Ушу. Преподает Тай-Бо и ведет семинары для инструкторов по Тай-Бо более 15-ти лет. 
        </div>
      </div>
      <div class="col-4">
        <img class="img-fluid" src="images/teacher.png" />
      </div>
    </div>
  </div>
</div>

<!-- /Преподаватель -->





{% endblock %}