/* AVATAR */
.avatar{
  height: 80px;
  overflow: visible;
  margin-top: 50px;
  margin-bottom: 50px;
}

.avatar img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 15px 25.981px 30px rgba(0,0,0,0.1);
  float: left;
}

.avatar .avatar-container{
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 20px;
}

.avatar .title{
  margin: auto;
  display: inline-block;
  font-size: 20px;
  font-weight: 300;
}

.avatar .description{
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  color: #666666;
}
