@import 'variables';

.card {
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  overflow: hidden;
}

.card-columns {
  /* background: #E9EBEC; */
  overflow: hidden;
  margin-bottom: -5px;
  /* box-shadow Chrome BUG */
}

.card {
  data {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #666666;
  }
  .card-body {
    /* position: absolute; */
    bottom: 0px;
    /* background: rgb(255, 255, 255, 0.8); */
  }
  .card-tag {
    font-size: 15px;
    line-height: 28px;
    color: $orange;
    font-weight: 300;
    flex: 2;
    .card-views {
      color: #000000;
      display: inline-block;
      font-size: 12px;
      letter-spacing: 0px;
      line-height: 24px;
      color: #666666;
      i.fas {
        color: #000000;
        margin: 0px 5px 10px 17px;
      }
    }
  }
  .card-title {
    font-size: 20px;
    line-height: 28px;
    color: #171717;
    font-weight: 300;
  }
  .card-text {
    font-size: 15px;
    line-height: 24px;
    color: #171717;
    font-weight: 300;
  }
}




.orange.card {
  .card-img-top {
    margin-bottom: -10px;
  }
  .card-title {
    /*display: none;*/
    color: white;
    font-size: 16px;
    line-height: 16px;
    flex: 1;
  }
  .card-text {
    /*display: none;*/
    /* float: left; */
    font-size: 26px;
    color: #fff;
    flex: 1;
  }
  /*.card-views {
    display: none;
  }*/
  .time {
    /*display: none;*/
    /* float: right; */
    color: #fff;
    line-height: 30px;
    /* flex: 2; */
  }
  .card-body {
    /*display: none;*/
    border-radius: 10px;
    background: $orange;
    /* display: flex; */
  }
  .flex-row {
    display: flex;
  }
  data {
    /*display: none;*/
    float: right;
    color: white;
    line-height: 19px;
    font-size: 14px;
    /* flex: 2; */
  }
}

/* ROUNDER CARD */

.card-rounded {
  .card-img-top {
    border-radius: 50%;
  }
  .card-img-wrapper {
    padding: 20%;
  }
}