@import 'libs/bootstrap/functions';
@import 'libs/bootstrap/variables';
@import 'libs/bootstrap/mixins';
@import 'variables';

.list-icon-cards {
  padding-top: 30px;

  .card {
    box-shadow: none;
    border: none;

    .card-body {
      box-shadow: none;
      text-align: left;
      padding-left: 0px;
      font-size: 15px;

      ul {
        padding-left: 0px;

        li {
          list-style: none;
        }
      }
    }
  }

  // Two columns card
  // WARNING: Mobile layout danger
  &.small.col-8 {

    .card,
    .card-body {
      ul {
        padding-left: 0px;
        column-count: 2;
        //column-width: 40%;
      }
    }
  }

  // Orange underlined icons
  &.small {
    .card {
      .card-title {
        font-size: 24px;

        span {
          border-bottom: 1px solid $orange;
          padding-bottom: 10px;

          i {
            font-size: 30px;
          }
        }
      }
    }
  }

  // Big outsided icons
  &.big {
    $padding: 60px;
    $padding1: 15px;
    .card {
      padding-left: $padding+$padding1;

      .card-title {
        font-size: 24px;
        img{
          margin-left: (-$padding)-$padding1;
        }
        span {
          margin-left: $padding1;
          padding-bottom: 10px;

          i {
            font-size: 30px;
          }
        }
      }
    }
  }
}