@import 'variables';

/* FOOTER */
.footer-wrapper{
  background: #F7F7F7;
  width: 100%;
}
footer {
  > .header {
    display: inline-block;
    margin-top: 60px;
    font-size: 46px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #000000;
    font-family: "Roboto";
    font-weight: 300;
    /* margin-bottom: 30px; */
  }
  h3 {
    font-size: 20px;
    color: #000000;
    font-weight: 300;
    margin-top: 30px;
  }
  position: relative;

  .phone {
    font-size: 36px;
    color: $orange;
    line-height: 45px;
  }
  form.footer-form textarea {
    padding: 20px;
  }
  dl {
    margin-bottom: 0px;
    font-size: 15px;
    line-height: 24px;
    color: #171717;
    font-weight: 300;
  }
  dt {
    color: #171717;
    font-weight: 300;
  }
}

/* FOOTER-FORM */

@media (max-width: 575.98px) {
  footer dl {
    margin-bottom: 0px;
    font-size: 12px;
  }
}