@import 'variables';


button.btn.orange {
  border-radius: 21px;
  font-size: 15px;
  font-weight: 300;
  background-color: $orange;
  border: none;
  padding: 10px 25px 10px 25px;
}

form {
  input.form-control {

    &[type=text],
    &[type=email],
    &[type=tel] {
      border-radius: 25px;
      padding: 12px 25px 12px 25px;
      background-color: #ffffff;
      border: 1px solid #d7d7d7;
    }
  }

  textarea.form-control {
    border-radius: 25px;
    padding: 10px 20px 10px 20px;
    background-color: #ffffff;
    border: 1px solid #d7d7d7;
  }

  .form-check.abc-checkbox label {
    font-size: 16px;
    color: $orange;
    font-family: "Roboto";
    font-weight: 300;
    padding-left: 15px;
    outline: none;

    &:before {
      border: 2px solid $orange;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      /* font-size: 40px; */
    }

    &:after {
      font-size: 16px;
      color: $orange;
      margin-left: -18px;
    }
  }

  button.btn[type=submit] {
    padding: 14px 25px 14px 25px;
  }
}

/* FORM */
form.on-orange {
  input.form-control {
    background: transparent;
    color: #fff;

    &::placeholder {
      color: #fff;
    }
  }

  .btn[type=submit] {
    background: #fff;
    color: black;
  }

  .form-check.abc-checkbox {
    label:before {
      border-color: #fff;
      background: transparent;
    }

    label:after {
      color: #fff;
    }

    label {
      color: #fff;
    }
  }
}