@import 'variables';
/* HEADER */

.top-navbar {
  background-color: #E9ECED;
}

.navbar-brand img {
  width: 80px;
}

.top-navbar .container {
  max-width: $max-width;
  text-align: center;
}

.navbar-nav {
  margin: auto;
  .nav-link {
    font-size: 16px;
    color: #26272d;
    font-weight: 300;
  }
}
.navbar > .container.bordered{
  border-bottom: 1px solid $gray;
}
.navbar {
  .header-phone {
    font-size: 20px;
    i {
      transform: scaleX(-1);
      color: $orange;
    }
  }
  .header-mobile-phone {
    display: none;
    font-size: 12px;
    color: #793319;
  }
}

.navbar-light .navbar-toggler {
  border: none;
  i {
    color: #793319;
    font-size: 30px;
    transform: scaleX(1.5) scaleY(1.1);
    font-weight: 300;
  }
}

.header-image {
  overflow: hidden;
  height: 160px;
  background-position-y: -50%;
  img {
    margin-top: -200px;
  }
}