@import 'libs/bootstrap/functions';
@import 'libs/bootstrap/variables';
@import 'libs/bootstrap/mixins';
@import 'variables';


.slick-slide {
	height: auto;

	img {
		width: 100%;
	}

	>div {
		line-height: 0px;
	}
}

.slick-track {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;
}

/* HEADER SLIDER */

.slide {
	position: relative;
	overflow: hidden;

	.slider-content {
		text-align: center;
		position: absolute;
		overflow: hidden;
		z-index: 100000;
		bottom: 0;
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;

		.slider-content-wrapper {
			margin: 0;
			top: 50%;
			max-width: $max-width;
			@include make-container();

			h1 {
				font-weight: 400;
				font-size: 34px;
				padding-bottom: 15px;
				margin-bottom: 25px;
				&.large{
					font-size: 88px;
				}
			}

			date {
				font-size: 16px;
				line-height: 26px;
				color: $orange;
			}

			h2 {
				text-shadow: none;
				font-size: 36px;
				letter-spacing: 0px;
				color: #000000;
				font-family: "Roboto";
				font-weight: 300;
			}

			span {
				font-size: 16px;
				color: #000000;
				font-weight: 400;

				strong {
					color: $orange;
					font-size: 20px;
				}
			}

			button.btn {
				padding: 15px 25px;
				border-radius: 26px;
				display: block;
				margin: auto;
				font-size: 18px;
				margin-top: 30px;
			}

			.border-triangle {
				border-bottom: 1px solid #D4D6D6;

				&:after {
					content: '';
					width: 24px;
					height: 20px;
					display: block;
					background: url('../images/icons/triangle.svg');
					margin-top: 15px;
					position: absolute;
					left: 50%;
				}
			}

			.tags {
				display: flex;
				> div{
					margin-right: 10px;
						font-size: 16px;
						color: rgba(0, 0, 0, 0.8);
						font-weight: bold;
						text-transform: uppercase;
				}
			}

			.master-with-icon{
				font-size: 22px;
				font-weight: normal;
			}
		}
	}

	/* SIMPLE SLIDER */
	&.simple {
		.slider-content {
			text-align: left;

			h2 {
				font-size: 90px;
				line-height: 40px;
				color: $white;
				font-weight: 800;
				text-shadow: 0 2px 0 $color_mid_gray_30_approx;
				margin: auto;
			}

			p {
				font-size: 20px;
				line-height: 28px;
				color: $white;
				font-weight: 300;
				margin-top: 25px;
			}
		}
	}

	/* SHADOWED SLIDER */
	&.shadowed {
		&:before {
			content: '';
			background: -moz-linear-gradient(top, rgba(233, 236, 237, 1) 30%, rgba(0, 0, 0, 0) 100%);
			background: -webkit-linear-gradient(top, rgba(233, 236, 237, 1) 30%, rgba(0, 0, 0, 0) 100%);
			background: linear-gradient(to bottom, rgba(233, 236, 237, 1) 30%, rgba(0, 0, 0, 0) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9eced', endColorstr='#00000000', GradientType=0);
			position: absolute;
			width: 100%;
			height: 80%;
		}

		.slider-content {
			color: #000;
		}
	}

	&.shadowed-ball {
		.slider-content {
			.slider-content-wrapper {
				margin: auto;
				padding: 20%;
				padding-top: 3%;
				margin-top: 0px;
				background: url(../images/round-gradient.svg);
				background-repeat: no-repeat;
				background-size: cover;
				background-position-y: 50%;
			}
		}
	}

	/* LEFT-HAND SLIDER */
	&.left-hand .slider-content {
		text-align: left;

		.slider-content-wrapper {
			.btn {
				margin-left: 0px;
			}
		}
	}

	&.left-hand.shadowed {
		&:before {
			/*transform: rotate(-10deg) ;
			left: -20%;
			top: -20%;
			width: 120%;
			height: 90%;*/
			transform: rotate(-10deg);
			transform-origin: -10% 100%;
			/* left: -20%; */
			/* top: -20%; */
			width: 120%;
			height: 120%;
			background: linear-gradient(to bottom, #e9eced 60%, rgba(0, 0, 0, 0) 100%);

			background: linear-gradient(to bottom, #e9eced 60%, rgba(0, 0, 0, 0) 100%);
		}
	}
}