@import 'variables';
/* PAGE */

.content-header {
  color: #000000;
  font-weight: 300;
  font-size: 46px;
  line-height: 46px;
  padding-top: 60px;
  padding-bottom: 30px;
  display: block;
  width: 100%;
  i {
    font-size: 29px;
    font-weight: 100;
    color: $orange;
    line-height: 46px;
    margin-left: 20px;
  }
}

.row.under-header {
  margin-top: 50px;
}

.main-container h3 {
  margin-top: 35px;
  font-size: 26px;
  line-height: 31px;
  margin-top: 35px;
}

/* CONTAINERS */
.with-top-hr{
  border-top: 2px solid white;
}
.block-orange, .block-gray{
  overflow: hidden;
}
.block-orange{
  background-color: $orange;
}
.block-gray{
  background-color: $gray;
}

.block-card{
  background: white;
  box-shadow: 0px 30px 50px rgba(92,95,101,0.2);
  padding-bottom: 35px;
  margin-bottom: 50px;
  margin-top: 35px;
  &.padded-90{ 
    margin-top: 90px; 
  }
  &.rounded{ border-radius: 10px; }
}