@import 'libs/bootstrap/functions';
@import 'libs/bootstrap/variables';
@import 'libs/bootstrap/mixins';
@import 'variables';

/* EVENTS SLICK CARDS */

.events-slick {

	/*.card {
    margin-right: 15px;
  }*/
	.card-wrapper {
		/*max-height: 300px;*/
		/*max-width: 370px;*/
		padding-right: 5px;
		padding-left: 5px;
		padding-bottom: 30px;
	}

	.card img {
		/*display: none;*/
		max-height: 150px;
	}

	data {
		color: #171717;
	}

	.card-more {
		display: inline-block;
		margin-top: 20px;
		font-size: 16px;
		color: $orange;
		font-weight: 300;

		&:after {
			content: "\00279E";
			margin-left: 10px;
		}

		&:hover {
			text-decoration: none;
		}
	}

	.slick-dots {
		bottom: 0px;
		top: auto;
		text-align: center;

		li {
			button:before {
				color: #DFDFDF;
				opacity: 1;
				font-size: 12px;
			}

			&.slick-active {
				button:before {
					color: $orange;
					font-size: 20px;
				}
			}
		}
	}

	@include media-breakpoint-up(lg) {
		.slick-dots {
			top: -45px;
			bottom: auto;
			text-align: right;
		}
	}
}