/* SOCIAL ICONS */
//TODO: Social Icons
.social-share{
  &.small{
    span{
      line-height: 30px;
    }
    i.fab{
      background: gray;
      border-radius: 3px;
      margin: 3px;
      min-width: 25px;
      height: 25px;
      line-height: 23px;
      padding: 2px;
    }
  }
  i.fab{
    background: gray;
    border-radius: 5px;
    margin: 3px;
    min-width: 25px;
    padding: 3px;
    text-align: center;
    color: white;
  }
}