@import 'variables';
@import "fonts";
@import "forms";
@import "libs/bootstrap/bootstrap";
@import "libs/slick";
@import "libs/slick-theme";
@import "libs/awesome-bootstrap-checkbox";
@import 'libs/scrollbar.base';
@import 'scrollbar';
@import "header";
@import "pages";
@import "cards";
@import "elements";
@import "avatar";
@import "header-slider";
@import "slider";
@import "footer";
@import "fixes";
@import "social";
@import "pages/blog";
@import "pages/education";

.btn-primary {
  @include button-variant($orange, $orange, darken($orange, 10%), lighten($orange,5%), lighten($orange, 10%), darken($orange,30%));
}


/*.template-colors {

  header-text-color: #7E3C21;
  header: #FF6500;
  controls: #FF7700;
  gray: #E9ECED;
  gray-text: #E0E0E0;
}*/

/* BODY */

body {
  background: #fff;
}

.abs-checkbox > input.form-check-input:active:focus, .form-check-input {
  background-color: #fff;
  border-color: inherit;
  outline: none !important;
  box-shadow: none;
  -webkit-appearance: none;
}

.form-control {
  background-color: #fff;
  border-color: inherit;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
  &:focus {
    background-color: #fff;
    border-color: inherit;
    outline: none;
    box-shadow: none;
    -webkit-appearance: none;
  }
}

* {
  &:focus {
    border-color: transparent;
    box-shadow: none;
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: -webkit-focus-ring-color auto 0px;
    background-color: rgb(250, 250, 250);
  }
  font-family: roboto;
}

/* LAYOUT */

.main-container {
  max-width: $max-width;
}

/* SCROLL TO TOP */

.scroll-to-top {
  font-size: 80px;
  position: absolute;
  -webkit-text-stroke: 3px #fff;
  top: 20px;
  right: 10px;
  color: #ccc;
  width: 100px;
  height: 100px;
  font-weight: 100;
}

@media (max-width: 575.98px) {
  .scroll-to-top {
    display: none;
  }
}
  
/*.scroll-to-top:hover{
  text-decoration: none;
}*/

/* MOBILE HEADER MENU */
@media (max-width: 992px) {
  .navbar {
    > .container > * {
      width: 33%;
      margin-right: 0px;
    }
    div {
      &.header-phone {
        display: none;
      }
      &.header-mobile-phone {
        display: block;
      }
    }
  }
}

/* BREADCRUMBS */

.breadcrumbs {
  background-color: #FF6503;
  height: 60px;
  font-size: 15px;
  line-height: 28px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  line-height: 60px;
}

/* HOME */

.blog-thumbnail {
  width: 377px;
  height: 493px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}


/* TAG CLOUD */

.tag-cloud {
  color: $orange;
  margin-top: 50px;
  margin-left: 35px;
  margin-right: 35px;
}

/* RIGHT HEADER */

.right-header {
  h2 {
    font-size: 34px;
    font-weight: 300;
    margin-top: 60px;
  }
  .card {
    margin-bottom: 10px;
  }
}


/* OUTLINE */
/*input,
input:after,
input:before,
input:focus,*/
label,
label:after,
label:before,
label:focus
/*a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus */{
    outline: 0 !important;
    outline-color: transparent !important;
    outline-width: 0 !important;
    outline-style: none !important;
}