// Content width
$max-width: 1160px;

// Colors
$white: #ffffff;
$orange: #ff7600;
$gray: #E9EBEC;

$input-btn-focus-width:       0px !default;
$input-btn-focus-color:       transparent !default;
$input-btn-focus-box-shadow:  0 0 0 $input-btn-focus-width $input-btn-focus-color !default;
$input-focus-bg: darken($orange, 10%);
$input-btn-focus-bg: darken($orange, 10%);
$active-background: transparent;

$color_mid_gray_30_approx: rgba(92, 95, 101, 0.3);