@import 'variables';

body {
  font-family: sans-serif;

  h1 {
    font-size: 36px;
    font-weight: 300;
  }

  h4 {
    font-size: 18px;
    font-weight: 300;
  }

  p {
    font-size: 15px;
    font-weight: 300;
  }

  a {
    color: $orange;
    font-weight: 300;
    &:hover{
      text-decoration: none;
    }
  }
}
