<!DOCTYPE html>
<html lang="en">

{% include "shared/head.html" %}

<body>

  {% include "shared/navbar.html" %}

  {% block breadcrumbs %}
    <div class="breadcrumbs">
      Главная &#10142; Блог
    </div>
  {% endblock %}

  {% block slick %} Тут должен быть слайдер {% endblock %}

  {% block content %}{% endblock %}

  {% include "shared/footer.html" %}

</body>

</html>