
<!-- Карточка -->

<div class="card-wrapper">
  <div class="card"><!-- +.card-rounded -->
    <div class="card-img-wrapper">
      <img class="card-img-top" src="images/1.jpg" alt="Card image cap">
    </div>
    <div class="card-body">
      <data>17 - 18 АПРЕЛЯ 2017</data>
      <h5 class="card-title">Курс «Массаж передней поверхности ног»</h5>
      <div class="card-tag">
        #разминание
        <div class="card-views">
          <i class="fas fa-eye"></i>
          640
        </div>
      </div>
      <a class="card-more" href="#">Узнать больше</a>
    </div>
  </div>
</div>

<!-- /Карточка -->
