<!-- Слайдер1 -->

<section class="header1-slick">
  <div class="slide left-hand shadowed">
    <img src="images/head.jpg">
    <div class="container-fluid slider-content">
      <div class="slider-content-wrapper">
        <div class="tags">
          <div>#Хиромассаж</div>
          <div>#Косметология</div>
        </div>
        <h1 class="large">Хиросмассаж тела</h1>
        <div class="master-with-icon">
          <i class="fal fa-user-circle"></i>
          Преподаватель: Анастасия Богданова
        </div>
        <button class="btn orange-background btn-orange btn-primary">Принять участие по специальной цене 9.000 рублей</button>
      </div>
    </div>
  </div>
</section>

<!-- /Слайдер1 -->