<!-- Слайдер1 -->

<section class="header1-slick">
  <div class="slide shadowed shadowed-ball">
    <img src="images/head.jpg">
    <div class="container-fluid slider-content">
      <div class="slider-content-wrapper">
        <h1 class="border-triangle">Профессиональное обучение массажу</h1>
        <date>12 - 16 мая 2017 года</date>
        <h2>Некосметическая коррекция лица</h2>
        <span>Интенсивный курс профессиональной <br />
          техники массажа – <strong>12 000 р.</strong></span>
        <button class="btn orange-background btn-orange btn-primary">Записаться</button>
      </div>
    </div>
  </div>
</section>

<!-- /Слайдер1 -->