
<!-- Слайдер -->

<section class="header-slick">
  <div class="slide simple">
    <img src="images/head.jpg">
    <div class="container-fluid slider-content">
      <div class="slider-content-wrapper">
        <h2>#ПРОМАССАЖ</h2>
        <p>Мы делимся опытом, чтобы Ваша деятельность имела смысл!</p>
      </div>
    </div>
  </div>
</section>


<!-- /Слайдер -->
