<!-- /Новое в блоге  -->

<div class="container-fluid main-container">
  <h1 class="content-header">Новое в блоге <i class="fal fa-arrow-circle-right"></i></h1>
  <div class="row overflow-hidden">
    <div class="card-columns">

      <div class="card">
        <img class="card-img-top" src="images/1.jpg" alt="Card image cap">
        <div class="card-body">
          <data>17 АПРЕЛЯ 2017</data>
          <h5 class="card-title">Разновидности продольного и поперечного разминания</h5>
          <div class="card-tag">
            #разминание
            <div class="card-views">
              <i class="fas fa-eye"></i>
              640
            </div>
          </div>
          <p class="card-text"> Южная расположена в
            центре Бангкока рядом с храмом Ват По. </p>
        </div>
      </div>


      <div class="card card-rounded">
        <div class="card-img-wrapper">
          <img class="card-img-top" src="images/1.jpg" alt="Card image cap">
        </div>
        <div class="card-body">
          <data>17 АПРЕЛЯ 2017</data>
          <h5 class="card-title">Разновидности продольного и поперечного разминания</h5>
          <div class="card-tag">
            #разминание
            <div class="card-views">
              <i class="fas fa-eye"></i>
              640
            </div>
          </div>
          <p class="card-text">Разновидности продольного и поперечного разминанияРазновидности продольного и
            поперечного разминанияРазновидности продольного и поперечного разминанияВсего в Тайланде 2 самых лучших
            массажных школы: южная и северная. Южная расположена в
            центре Бангкока рядом с храмом Ват По. </p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="images/1.jpg" alt="Card image cap">
        <div class="card-body">
          <data>17 АПРЕЛЯ 2017</data>
          <h5 class="card-title">Разновидности продольного и поперечного разминания</h5>
          <div class="card-tag">
            #разминание
            <div class="card-views">
              <i class="fas fa-eye"></i>
              640
            </div>
          </div>
          <p class="card-text">Всего в Тайланде 2 самых лучших массажных школы: южная и северная. Южная расположена в
            центре Бангкока рядом с храмом Ват По. </p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- /Новое в блоге -->
