<!-- Оранжевый блок -->
<div class="block-orange">
  <div class="container-fluid main-container">
    <div class="row">
      <div class="col-lg-7">
        <div class="lock">Закрытое видео</div>
        <h2>БРИЛЛИАНТОВЫЕ РУКИ</h2>
        <span>
          Получи 10 рабочих действий,<br />
          которые принесут тебе результат уже сегодня
        </span>
        <h3>
          Получить бесплатно доступ к закрытому видео
        </h3>




        <form class="education-form on-orange">
          <div class="row">

            <div class="col-sm-6">
              <div class="form-group">
                <input class="form-control" placeholder="your@email.com" name="name" type="email">
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <button disabled="disabled" type="submit" class="submit orange btn btn-primary">
                  Получить видео
                </button>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="form-check abc-checkbox">
              <input class="styled form-check-input" type="checkbox" id="agree-education">
              <label class="form-check-label" for="agree-education">
                Согласен с политикой конфиденциальности
              </label>
            </div>
          </div>

        </form>

      </div>
      <div class="col-lg-5 mbp align-self-center">
        <img class="img-fluid" src="images/icons/mbp.png" />
      </div>
    </div>
  </div>
</div>

<!-- /Оранжевый блок -->
