<div class="social-share row">
  социалки при натяжке
  <a href="#">
    <i class="fab fa-vk"></i>
  </a>
  <a href="#">
    <i class="fab fa-facebook"></i>
  </a>
  <a href="#">
    <i class="fab fa-odnoklassniki"></i>
  </a>
  <a href="#">
    <i class="fab fa-google"></i>
  </a>
  <a href="#">
    <i class="fab fa-twitter"></i>
  </a>
</div>