<!-- Подпишись -->
<div class="block-orange">
  <div class="container-fluid main-container">
    <h1>Подпишись на нашу рассылку и узнай о самых последних кампаниях,
      в которых ты можешь принять участие!</h1>
    <form class="on-orange">
      <div class="row">
        <div class="col-lg-3">
          <div class="form-group">
            <input class="form-control" placeholder="Ваше имя" name="email" type="text">
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <input class="form-control" placeholder="+7 (___) ___ __ __" name="tel" type="tel">
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <input class="form-control" placeholder="your@email.com" name="name" type="email">
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <button type="submit" disabled="disabled" class="submit orange btn btn-primary">
              Получить подарок ➞
            </button>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="form-group">
            <div class="form-check abc-checkbox">
              <input class="styled form-check-input" type="checkbox" id="agree-subscribe">
              <label class="form-check-label" for="agree-subscribe">
                Согласен с политикой конфиденциальности
              </label>
            </div>
          </div>
        </div>

      </div>
    </form>
  </div>
</div>
<!-- /Подпишись -->