
<!-- Футер -->

<div class="footer-wrapper">
  <div class="container-fluid main-container">
    <footer>
      <h1 class="header">
        Контакты
      </h1>
      <div class="row">


        <div class="col-sm-6">

          <h3 class="form-title">
            Задать вопрос
          </h3>
          <form class="footer-form">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <input class="form-control" placeholder="Ваше имя" name="email" type="text">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input class="form-control" placeholder="your@email.com" name="name" type="email">
                </div>
              </div>
            </div>
            <div class="form-group">
              <textarea class="form-control" placeholder="Сообщение" name="message" id="" rows="10"></textarea>
            </div>

            <div class="form-group">
              <div class="form-check abc-checkbox">
                <input class="styled form-check-input" type="checkbox" id="agree-footer">
                <label class="form-check-label" for="agree-footer">
                  Согласен с политикой конфиденциальности
                </label>
              </div>
            </div>
            <div class="form-group">
              <button disabled="disabled" type="submit" class="submit orange btn btn-primary">
                Задать вопрос ➞
              </button>
            </div>
          </form>
        </div>
        <div class="col-sm-6">
          <h3>Телефон</h3>
          <div class="phone">8 800 456 45 59</div>
          <h3>Реквизиты</h3>

          <dl class="row">
            <dt class="col-4">Наименование</dt>
            <dd class="col">ИП Умарнова Светлана Петровна</dd>
          </dl>
          <dl class="row">
            <dt class="col-4">Адрес</dt>
            <dd class="col">625000, Тюменская обл, г Тюмень</dd>
          </dl>
          <dl class="row">
            <dt class="col-4">ИНН/ОГРН</dt>
            <dd class="col">720408048498 / 312723219200027</dd>
          </dl>
          <dl class="row">
            <dt class="col-4">Дата регистрации</dt>
            <dd class="col">10.07.2012</dd>
          </dl>
        </div>
      </div>
      <a href="#" class="scroll-to-top">
        <i class="fal fa-arrow-circle-up"></i>
      </a>
    </footer>
  </div>
</div>

<!-- /Футер -->
