{% set version = "0.09" %}
<head>
  <title>Массаж</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="stylesheets/app.css?v={{version}}">
  <script src="javascripts/app.js?v={{version}}"></script>
  {% block javascript %}
  {% endblock %}
</head>