
<!-- Верхнее меню -->

<nav class="navbar navbar-light top-navbar primary-nav navbar-expand-lg">
  <div class="container">
    <div class="header-mobile-phone">
      8 800 333 55 47
    </div>
    <a class="navbar-brand" href="#">
      <img src="images/logo.png" class="d-inline-block align-top" alt="">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">Блог <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="2.html">Статья</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="3.html">Обучение</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="4.html">Хиромассаж</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>

    </div>
    <div class="header-phone">
      <i class="fas fa-phone"></i>
      8 800 333 55 47
    </div>
  </div>
</nav>

<!-- /Верхнее меню -->
